<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Inventory Home</h1>
    <ul>
        <% books.forEach(book => {%>
            <li><%= book.id%> <%= book.title%> <%= book.author%> <%= book.genre%></li>
        <%})%>
    </ul>
</body>
</html>